@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VARIABLES */
/* Paleta de Colores */
/* Tipografías */
/* Scrollbar Personalizada */
body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #faf8f1; }

body::-webkit-scrollbar:vertical {
  width: 10px; }

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none; }

body::-webkit-scrollbar:horizontal {
  height: 10px; }

body::-webkit-scrollbar-thumb {
  background-color: #afaeac;
  border-radius: 20px;
  border: 2px solid #faf8f1; }

body::-webkit-scrollbar-track {
  border-radius: 10px; }

body {
  background-color: #faf8f1;
  font-family: "Nunito", sans-serif; }

/* HEADER */
.header {
  background-color: #faf8f1;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  position: sticky;
  top: 0;
  z-index: 500;
  border-bottom: 1px solid #e9daaa; }

.logo {
  margin-left: 50px; }
  .logo img {
    cursor: pointer;
    width: 120px; }

.navBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px; }

.menu--desktop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase; }
  .menu--desktop li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #faf8f1;
    color: #D8B33B; }
    .menu--desktop li a {
      display: block;
      text-decoration: none;
      color: #D8B33B; }
    .menu--desktop li:hover {
      border-color: #D8B33B; }
      .menu--desktop li:hover .submenu {
        display: block;
        background-color: #faf8f1;
        color: #D8B33B;
        padding: 47px 0 0;
        min-width: 200px;
        top: 25px;
        left: -22px;
        text-align: left; }

.cartWidget {
  margin: 0 10px;
  color: #f5f5f5; }
  .cartWidget img {
    width: 34px;
    cursor: pointer; }
  .cartWidget span {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    top: 62px;
    right: 55px;
    border: 1px solid #f5f5f5;
    background-color: #D8B33B;
    border-radius: 100%;
    height: 22px;
    width: 22px; }

.submenu {
  display: none;
  list-style-type: none;
  text-transform: capitalize;
  position: absolute; }
  .submenu li {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #faf8f1;
    margin: 0; }
    .submenu li:hover {
      border-color: #e9daaa; }

.itemListContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 4em;
  width: 1000px;
  min-height: 1200px;
  animation: fadeIn 1.5s ease-in 1.5s none normal;
  animation-fill-mode: backwards; }

.card {
  overflow: hidden;
  margin: 20px;
  width: 250px;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: 0.75s, scale;
  border: 1px solid #d3d2ce;
  box-shadow: 0px 10px 25px -5px #afaeac; }
  .card a {
    line-height: 0; }
    .card a img {
      height: 250px;
      width: 250px; }
  .card .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    padding: 5px 15px 10px;
    height: 100px;
    color: #14120a; }
    .card .info .price {
      font-size: 24px; }
      .card .info .price::before {
        content: "$ "; }
  .card:hover {
    transform: scale(1.05); }

.count {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  align-self: center; }
  .count button {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: #D8B33B; }
  .count .addToCart {
    cursor: pointer;
    padding: 1px;
    width: 150px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #e9daaa;
    color: #D8B33B; }
    .count .addToCart img {
      width: 18px;
      margin-right: 5px; }
  .count span {
    height: 100%;
    font-size: 18px;
    padding: 0 15px;
    background-color: #faf8f1; }

/* PAGES */
.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #faf8f1; }
  .home h2 {
    margin: 50px 0 25px;
    text-transform: uppercase;
    text-align: center;
    color: #D8B33B;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 2px solid #D8B33B; }

.products {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #faf8f1;
  padding-bottom: 100px; }
  .products h1 {
    margin: 50px 0 25px;
    text-transform: uppercase;
    text-align: center;
    color: #D8B33B;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 2px solid #D8B33B; }
  .products .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-around;
    width: 80vw; }

.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  background-color: #f5f5f5;
  margin: 20px 0 20px;
  padding: 20px 30px 70px;
  border: 1px solid #d3d2ce;
  border-radius: 5px; }
  .filter h2 {
    font-size: 22px;
    color: #D8B33B; }
  .filter ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    list-style: none;
    margin-top: 20px; }
    .filter ul li {
      font-size: 18px;
      margin: 5px 0;
      padding: 0 10px;
      transition: 1s, scale; }
      .filter ul li:hover {
        transform: scale(1.1); }
      .filter ul li a {
        text-decoration: none;
        color: #D8B33B; }

.itemDetailContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #faf8f1;
  min-height: calc(100vh - 120px); }

.itemDetail {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f5f5f5;
  border: 1px solid #d3d2ce;
  border-radius: 5px;
  margin: 0 0 50px; }
  .itemDetail .img {
    line-height: 0; }
    .itemDetail .img img {
      border-right: 1px solid #d3d2ce;
      width: 500px; }
  .itemDetail .info {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 50px 0;
    max-width: 600px;
    height: 500px; }
    .itemDetail .info h3, .itemDetail .info span {
      margin: 10px 0; }
    .itemDetail .info h3 {
      font-size: 36px;
      color: #D8B33B; }
    .itemDetail .info .price {
      font-size: 28px;
      font-weight: 700;
      color: #14120a; }
      .itemDetail .info .price::before {
        content: "$ "; }
    .itemDetail .info span {
      font-size: 22px; }
    .itemDetail .info .itemCount {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      height: 150px;
      margin-top: 75px; }
      .itemDetail .info .itemCount .count {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100px;
        justify-content: space-between; }
        .itemDetail .info .itemCount .count button {
          border: 1px solid #d3d2ce; }
        .itemDetail .info .itemCount .count span {
          border-top: 1px solid #d3d2ce;
          border-bottom: 1px solid #d3d2ce;
          color: #14120a; }
      .itemDetail .info .itemCount .addToCart {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 5px;
        width: 180px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #e9daaa;
        color: #D8B33B; }
        .itemDetail .info .itemCount .addToCart img {
          width: 18px;
          margin-right: 5px; }
    .itemDetail .info .finish {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 180px;
      align-self: center;
      border: 1px solid #e9daaa; }
      .itemDetail .info .finish a {
        text-decoration: none;
        color: #D8B33B; }

.cartItem {
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  height: 100px;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e9daaa;
  border-radius: 5px;
  margin: 20px 0; }
  .cartItem img {
    width: 70px;
    overflow: hidden;
    border-radius: 5px; }
  .cartItem span {
    width: 15vw;
    font-size: 20px;
    font-weight: 600;
    color: #D8B33B; }
  .cartItem button {
    height: 25px;
    width: 25px;
    background-color: #f5f5f5;
    color: #ff6f6f;
    border: 1px solid #ff6f6f;
    overflow: hidden;
    border-radius: 5px;
    font-weight: 900;
    cursor: pointer; }
    .cartItem button:hover {
      border: 2px solid #ff6f6f; }
    .cartItem button:active {
      border: none;
      background-color: #ff6f6f;
      color: #f5f5f5; }

.cart {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  .cart h1 {
    text-align: center;
    margin: 50px auto;
    color: #D8B33B;
    text-decoration: underline;
    font-size: 32px; }
  .cart .resumen {
    display: flex;
    flex-flow: row nowrap;
    align-self: flex-end;
    margin: 50px 10vw;
    padding: 0 1vw;
    height: 100px;
    width: 50vw;
    align-items: center;
    justify-content: space-around; }
    .cart .resumen h2 {
      font-size: 24px;
      color: #D8B33B;
      margin: 0 10px; }
    .cart .resumen .clearCart {
      background-color: #f5f5f5;
      color: #ff6f6f;
      border: 1px solid #ff6f6f;
      overflow: hidden;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
      margin: 0 10px; }
      .cart .resumen .clearCart:hover {
        border: 2px solid #ff6f6f; }
      .cart .resumen .clearCart:active {
        border: none;
        background-color: #ff6f6f;
        color: #f5f5f5; }
    .cart .resumen .goCheckout {
      background-color: #f5f5f5;
      color: #55d83b;
      border: 1px solid #55d83b;
      overflow: hidden;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
      margin: 0 10px; }
      .cart .resumen .goCheckout:hover {
        border: 2px solid #55d83b; }
      .cart .resumen .goCheckout:active {
        border: none;
        background-color: #55d83b;
        color: #f5f5f5; }

.cartEmpty {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 30vh 0; }
  .cartEmpty h1 {
    text-align: center;
    margin: 50px auto;
    color: #D8B33B;
    font-size: 32px; }
  .cartEmpty a {
    background-color: #faf8f1;
    color: #D8B33B;
    border: 1px solid #e9daaa;
    text-decoration: none;
    overflow: hidden;
    border-radius: 5px;
    font-weight: 900;
    font-size: 20px;
    padding: 5px 15px;
    cursor: pointer; }
    .cartEmpty a:active {
      background-color: #D8B33B;
      color: #faf8f1; }

.aboutUs {
  align-items: center;
  color: #afaeac;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin: 80px 0;
  animation: fadeIn 1s ease-in 0.1s none normal;
  animation-fill-mode: backwards;
  min-height: 700px; }
  .aboutUs .us {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0 0 50px;
    width: 80vw; }
    .aboutUs .us .img {
      width: 400px;
      display: inline-block;
      order: 10; }
      .aboutUs .us .img img {
        width: 100%; }
    .aboutUs .us .description {
      display: flex;
      flex-flow: column nowrap;
      align-items: stretch;
      justify-content: center;
      font-weight: 300;
      margin: 25px;
      text-align: left;
      width: 450px;
      order: 20; }
      .aboutUs .us .description h3 {
        font-size: 48px;
        margin-bottom: 30px; }
      .aboutUs .us .description p {
        font-size: 18px; }
  .aboutUs .phrase {
    text-align: center;
    margin: 100px 20px 80px;
    padding: 0 10px 15px;
    border-bottom: 2px solid #d3d2ce; }
    .aboutUs .phrase span {
      font-size: 48px;
      font-weight: 400;
      font-family: "The Nautigal", cursive; }

.help {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  animation: fadeIn 1.2s ease-in 0.1s none normal;
  animation-fill-mode: backwards; }
  .help .titleHelp {
    border-bottom: 2px solid #D8B33B;
    font-size: 34px;
    font-weight: 500;
    color: #D8B33B;
    letter-spacing: 2px;
    margin: 50px 0;
    padding: 10px;
    text-transform: uppercase; }
  .help .questions {
    display: inline-block;
    margin: 0 5% 0; }
    .help .questions .box {
      border-bottom: 1px solid #afaeac;
      margin: 0 5%;
      padding: 20px;
      text-align: center; }
      .help .questions .box .question {
        color: #afaeac;
        font-size: 18px;
        font-weight: 900;
        margin: 10px; }
      .help .questions .box .answer {
        color: #afaeac;
        font-size: 16px;
        font-weight: 500;
        margin: 10px; }
        .help .questions .box .answer a {
          color: #afaeac;
          font-weight: 900; }
          .help .questions .box .answer a:hover {
            text-decoration: underline; }

.checkout {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
  padding: 5%;
  color: #D8B33B; }
  .checkout h2 {
    font-size: 24px;
    margin-bottom: 25px; }
  .checkout form {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    padding: 5% 180px;
    font-size: 18px;
    border: 1px solid #afaeac;
    border-radius: 5px;
    background-color: #f5f5f5;
    height: 550px; }
    .checkout form label {
      margin-bottom: 5px; }
    .checkout form input {
      margin-bottom: 25px;
      border: 1px solid #afaeac;
      border-radius: 2px;
      height: 25px;
      text-align: center;
      width: 250px; }
      .checkout form input:focus {
        outline: none;
        border: 1px solid #afaeac; }
    .checkout form .submit {
      background-color: #f5f5f5;
      color: #55d83b;
      border: 1px solid #55d83b;
      overflow: hidden;
      border-radius: 5px;
      font-weight: 600;
      cursor: pointer;
      padding: 10px 20px;
      font-size: 18px;
      margin: 0 10px;
      height: auto; }
      .checkout form .submit:hover {
        border: 2px solid #55d83b; }
      .checkout form .submit:active {
        border: none;
        background-color: #55d83b;
        color: #f5f5f5; }
  .checkout section {
    padding: 50px 100px;
    background-color: #f5f5f5;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 1px solid #55d83b;
    border-radius: 5px; }
    .checkout section span {
      color: #14120a; }

@keyframes fadeIn {
  from {
    filter: opacity(0); }
  to {
    filter: opacity(1); } }
