* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VARIABLES */
/* Paleta de Colores */
.header {
  background-color: #FAF6E7;
  color: #D8B33B;
  font-size: 20px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  position: sticky;
  top: 0; }
  .header div {
    margin-left: 50px; }
    .header div img {
      width: 120px; }

.navBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around; }

.menu--desktop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase; }
  .menu--desktop li {
    display: inline-block;
    margin: 0 10px;
    position: relative; }
    .menu--desktop li:hover .submenu {
      display: block;
      background-color: #FAF6E7;
      padding: 5px 0;
      top: 73px;
      left: -22px;
      text-align: left; }

.submenu {
  display: none;
  list-style-type: none;
  text-transform: capitalize;
  position: absolute; }
  .submenu li {
    padding: 5px 15px; }
