* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/* VARIABLES */
/* Paleta de Colores */
/* Scrollbar Personalizada */
body::-webkit-scrollbar {
  -webkit-appearance: none;
  background-color: #faf8f1; }

body::-webkit-scrollbar:vertical {
  width: 10px; }

body::-webkit-scrollbar-button:increment, body::-webkit-scrollbar-button {
  display: none; }

body::-webkit-scrollbar:horizontal {
  height: 10px; }

body::-webkit-scrollbar-thumb {
  background-color: #afaeac;
  border-radius: 20px;
  border: 2px solid #faf8f1; }

body::-webkit-scrollbar-track {
  border-radius: 10px; }

/* HEADER */
.header {
  background-color: #faf8f1;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  position: sticky;
  top: 0;
  z-index: 500;
  border-bottom: 1px solid #e9daaa; }

.logo {
  margin-left: 50px; }
  .logo img {
    cursor: pointer;
    width: 120px; }

.navBar {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  margin-right: 50px; }

.menu--desktop {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase; }
  .menu--desktop li {
    display: inline-block;
    margin: 0 10px;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid #faf8f1;
    color: #D8B33B; }
    .menu--desktop li a {
      display: block;
      text-decoration: none;
      color: #D8B33B; }
    .menu--desktop li:hover {
      border-color: #D8B33B; }
      .menu--desktop li:hover .submenu {
        display: block;
        background-color: #faf8f1;
        color: #D8B33B;
        padding: 47px 0 0;
        min-width: 200px;
        top: 25px;
        left: -22px;
        text-align: left; }

.cartWidget {
  margin: 0 10px;
  color: #f5f5f5; }
  .cartWidget img {
    width: 34px;
    cursor: pointer; }
  .cartWidget span {
    position: absolute;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    top: 62px;
    right: 55px;
    border: 1px solid #f5f5f5;
    background-color: #D8B33B;
    border-radius: 100%;
    height: 22px;
    width: 22px; }

.submenu {
  display: none;
  list-style-type: none;
  text-transform: capitalize;
  position: absolute; }
  .submenu li {
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid #faf8f1;
    margin: 0; }
    .submenu li:hover {
      border-color: #e9daaa; }

.itemListContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 1000px;
  min-height: 80vh;
  margin-bottom: 50px; }

.card {
  overflow: hidden;
  margin: 20px;
  width: 250px;
  border-radius: 5px;
  background-color: #f5f5f5;
  transition: 0.75s, scale;
  border: 1px solid #d3d2ce; }
  .card a {
    line-height: 0; }
    .card a img {
      width: 250px; }
  .card .info {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    justify-content: start;
    padding: 5px 15px 10px;
    height: 100px;
    color: #14120a; }
    .card .info .price {
      font-size: 24px; }
      .card .info .price::before {
        content: "$ "; }
  .card:hover {
    transform: scale(1.05); }

.count {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 30px;
  align-self: center; }
  .count button {
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 100%;
    font-size: 18px;
    font-weight: 400;
    border: none;
    color: #D8B33B; }
  .count .addToCart {
    cursor: pointer;
    padding: 1px;
    width: 150px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #e9daaa;
    color: #D8B33B; }
    .count .addToCart img {
      width: 18px;
      margin-right: 5px; }
  .count span {
    height: 100%;
    font-size: 18px;
    padding: 0 15px;
    background-color: #faf8f1; }

/* PAGES */
.home {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #faf8f1; }
  .home h2 {
    margin: 50px 0 25px;
    text-transform: uppercase;
    text-align: center;
    color: #D8B33B;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 2px solid #D8B33B; }

.products {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #faf8f1; }
  .products h1 {
    margin: 50px 0 25px;
    text-transform: uppercase;
    text-align: center;
    color: #D8B33B;
    font-size: 32px;
    font-weight: 600;
    border-bottom: 2px solid #D8B33B; }
  .products .section {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch; }

.filter {
  display: flex;
  flex-flow: column nowrap;
  justify-content: baseline;
  background-color: #f5f5f5;
  margin: 20px 0 70px;
  padding: 20px 30px;
  border: 1px solid #d3d2ce;
  border-radius: 5px; }
  .filter h2 {
    font-size: 22px;
    color: #D8B33B; }
  .filter ul {
    display: flex;
    flex-flow: column nowrap;
    align-items: start;
    list-style: none;
    margin-top: 20px; }
    .filter ul li {
      font-size: 18px;
      margin: 5px 0;
      padding: 0 10px;
      transition: 1s, scale; }
      .filter ul li:hover {
        transform: scale(1.1); }
      .filter ul li a {
        text-decoration: none;
        color: #D8B33B; }

.itemDetailContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #faf8f1;
  min-height: calc(100vh - 120px); }

.itemDetail {
  display: flex;
  flex-flow: row nowrap;
  background-color: #f5f5f5;
  border: 1px solid #d3d2ce;
  border-radius: 5px;
  margin: 0 0 50px; }
  .itemDetail .img {
    line-height: 0; }
    .itemDetail .img img {
      border-right: 1px solid #d3d2ce;
      width: 500px; }
  .itemDetail .info {
    display: flex;
    flex-flow: column nowrap;
    padding: 0 50px 0;
    max-width: 600px;
    height: 500px; }
    .itemDetail .info h3, .itemDetail .info span {
      margin: 10px 0; }
    .itemDetail .info h3 {
      font-size: 36px;
      color: #D8B33B; }
    .itemDetail .info .price {
      font-size: 28px;
      font-weight: 900;
      color: #14120a; }
      .itemDetail .info .price::before {
        content: "$ "; }
    .itemDetail .info span {
      font-size: 22px; }
    .itemDetail .info .itemCount {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: space-evenly;
      height: 150px;
      margin-top: 75px; }
      .itemDetail .info .itemCount .count {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        width: 100px;
        justify-content: space-between; }
      .itemDetail .info .itemCount .addToCart {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        padding: 5px;
        width: 180px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid #e9daaa;
        color: #D8B33B; }
        .itemDetail .info .itemCount .addToCart img {
          width: 18px;
          margin-right: 5px; }
    .itemDetail .info .finish {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      padding: 5px;
      width: 180px;
      align-self: center;
      border: 1px solid #e9daaa; }
      .itemDetail .info .finish a {
        text-decoration: none;
        color: #D8B33B; }
