*{
  padding: 0; margin: 0; box-sizing: border-box;
}

.header {
  align-items: center;
  background-color: #E1C760;
  background-image: linear-gradient(to bottom, #E1C760 5%, #E7D281 90%);
  color: #F9F4E1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100; }
  .header .name {
    font-family: "The Nautigal", cursive;
    font-size: 32px;
    font-weight: 900;
    margin: 0 30px;
    transition: text-shadow, 0.5s; }
    .header .name:hover {
      text-shadow: #F9F4E1 0 0 5px; }
  .header .nav {
    margin: 0 20px; }
    .header .nav .menu__desktop {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      margin: 0;
      padding: 0; }
      .header .nav .menu__desktop li {
        display: inline-block;
        height: 50px;
        font-size: 16px;
        font-weight: 400;
        padding: 14px 10px;
        position: relative;
        transition: background-color, 0.4s; }
        .header .nav .menu__desktop li .submenu {
          display: none;
          left: 0px;
          padding: 8px;
          position: absolute;
          top: 47px; }
          .header .nav .menu__desktop li .submenu li {
            width: 125px;
            transition: background-color, 0.4s;
            padding: 0; }
            .header .nav .menu__desktop li .submenu li a {
              display: block;
              padding: 14px 10px; }
            .header .nav .menu__desktop li .submenu li:hover {
              background-color: #E1C760; }
        .header .nav .menu__desktop li:hover {
          background-color: #E7D281; }
          .header .nav .menu__desktop li:hover .submenu {
            background-color: #E7D281;
            display: block;
            padding: 0;
            text-align: left; }
    .header .nav .menu__smartphone {
      display: none; }

.section{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 50px;
}
