*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* VARIABLES */

/* Paleta de Colores */

$color-white: #f5f5f5;
$color-white-smooth: #faf8f1;
$color-black: #14120a;
$color-mustard: #D8B33B;
$color-mustard-ligth: #e9daaa;
$color-gray: #afaeac;
$color-gray-light: #d3d2ce;
$color-red: #ff6f6f;

/* Scrollbar Personalizada */

body::-webkit-scrollbar {
    -webkit-appearance: none;
    background-color: $color-white-smooth;
}

body::-webkit-scrollbar:vertical {
    width:10px;
}

body::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

body::-webkit-scrollbar:horizontal {
    height: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: $color-gray;
    border-radius: 20px;
    border: 2px solid $color-white-smooth;
}

body::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* HEADER */

.header{
    background-color: $color-white-smooth;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    height: 120px;
    position: sticky;
    top: 0;
    z-index: 500;
    border-bottom: 1px solid $color-mustard-ligth;
}

.logo{
    margin-left: 50px;
    img{
        cursor: pointer;
        width: 120px;
    }
}

.navBar{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin-right: 50px;
}

.menu--desktop{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-transform: uppercase;

    li{
        display: inline-block;
        margin: 0 10px;
        position: relative;
        cursor: pointer;
        border-bottom: 1px solid $color-white-smooth;
        color: $color-mustard;

        a{
            display: block;
            text-decoration: none;
            color: $color-mustard;
        }

        &:hover{
            border-color: $color-mustard;
            
            .submenu{
                display: block;
                background-color: $color-white-smooth;
                color: $color-mustard;
                padding: 47px 0 0;
                min-width: 200px;
                top: 25px;
                left: -22px;
                text-align: left;
            }
        }
    }


}

.cartWidget{
    margin: 0 10px;
    color: $color-white;
    img{
        width: 34px;
        cursor: pointer;
    }
    span{
        position: absolute;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        top: 62px;
        right: 55px;
        border: 1px solid $color-white;
        background-color: $color-mustard;
        border-radius: 100%;
        height: 22px;
        width: 22px;
    }
}

.submenu{
    display: none;
    list-style-type: none;
    text-transform: capitalize;
    position: absolute;

    li{
        display: block;
        padding: 10px 15px;
        cursor: pointer;
        border: 1px solid $color-white-smooth;
        margin: 0;

        &:hover{
            border-color: $color-mustard-ligth;
        }
    }
}

.itemListContainer{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 4em;
    width: 1000px;
    min-height: 1200px;
    animation: fadeIn 1.5s ease-in 1.5s none normal;
	animation-fill-mode: backwards;
}

.card{
    overflow: hidden;
    margin: 20px;
    width: 250px;
    border-radius: 5px;
    background-color: $color-white;
    transition: 0.75s, scale;
    border: 1px solid $color-gray-light;
    box-shadow: 0px 10px 25px -5px $color-gray;
    a{
        line-height: 0;
        img{
            height: 250px;
            width: 250px;
        }
    }
    
    .info{
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        justify-content: start;
        padding: 5px 15px 10px;
        height: 100px;
        color: $color-black;
        .price{
            font-size: 24px;

            &::before{
                content: "$ ";
            }
        }
        
    }

    &:hover{
        transform: scale(1.05);
    }
}

.count{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 30px;
    align-self: center;
    button{
        cursor: pointer;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 100%;
        font-size: 18px;
        font-weight: 400;
        border: none;
        color: $color-mustard;
        
    }
    .addToCart{
        cursor: pointer;
        padding: 1px;
        width: 150px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
        border: 1px solid $color-mustard-ligth;
        color: $color-mustard;
        img{
            width: 18px;
            margin-right: 5px;
        }
    }
    span{
        height: 100%;
        font-size: 18px;
        padding: 0 15px;
        background-color: $color-white-smooth;
    }
}

/* PAGES */

.home{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $color-white-smooth;

    h2{
        margin: 50px 0 25px;
        text-transform: uppercase;
        text-align: center;
        color: $color-mustard;
        font-size: 32px;
        font-weight: 600;
        border-bottom: 2px solid $color-mustard;
    }
}

.products{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: $color-white-smooth;
    padding-bottom: 100px;

    h1{
        margin: 50px 0 25px;
        text-transform: uppercase;
        text-align: center;
        color: $color-mustard;
        font-size: 32px;
        font-weight: 600;
        border-bottom: 2px solid $color-mustard;
    }

    .section{
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        justify-content: space-around;
        width: 80vw;
    }
}

.filter{
    display: flex;
    flex-flow: column nowrap;
    justify-content: baseline;
    background-color: $color-white;
    margin: 20px 0 20px;
    padding: 20px 30px 70px;
    border: 1px solid $color-gray-light;
    border-radius: 5px;

    h2{
        font-size: 22px;
        color: $color-mustard;
    }

    ul{
        display: flex;
        flex-flow: column nowrap;
        align-items: start;
        list-style: none;
        margin-top: 20px;

        li{
            font-size: 18px;
            margin: 5px 0;
            padding: 0 10px;
            transition: 1s, scale;

            &:hover{
                transform: scale(1.1);
            }

            a{
                text-decoration: none;
                color: $color-mustard;
            }
        }
    }
}

.itemDetailContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: $color-white-smooth;
    min-height: calc(100vh - 120px);
}

.itemDetail{
    display: flex;
    flex-flow: row nowrap;
    background-color: $color-white;
    border: 1px solid $color-gray-light;
    border-radius: 5px;
    
    margin: 0 0 50px;

    .img{
        line-height: 0;
        img{
            border-right: 1px solid $color-gray-light;
            width: 500px;
        }
    }

    .info{
        display: flex;
        flex-flow: column nowrap;
        padding: 0 50px 0;
        max-width: 600px;
        height: 500px;

        h3, span{
            margin: 10px 0;
        }

        h3{
            font-size: 36px;
            color: $color-mustard;
        }

        .price{
            font-size: 28px;
            font-weight: 900;
            color: $color-black;

            &::before{
                content: "$ "
            }
        }

        span{
            font-size: 22px;
        }

        .itemCount{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: space-evenly;
            height: 150px;
            margin-top: 75px;
            .count{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                width: 100px;
                justify-content: space-between;
            }
            .addToCart{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                justify-content: space-between;
                cursor: pointer;
                padding: 5px;
                width: 180px;
                font-size: 14px;
                font-weight: 400;
                text-transform: uppercase;
                border: 1px solid $color-mustard-ligth;
                color: $color-mustard;
                img{
                    width: 18px;
                    margin-right: 5px;
                }
            }
        }

        .finish{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: center;
            padding: 5px;
            width: 180px;
            align-self: center;
            border: 1px solid $color-mustard-ligth;

            a{
                text-decoration: none;
                color: $color-mustard;
            }
        }
    }
}

.cartItem{
    display: flex;
    flex-flow: row nowrap;
    width: 80vw;
    height: 100px;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    background-color: $color-white-smooth;
    border: 1px solid $color-mustard-ligth;
    border-radius: 5px;
    margin: 20px 0;

    span{
        width: 15vw;
        font-size: 20px;
        font-weight: 600;
        color: $color-mustard;
    }

    button{
        height: 25px;
        width: 25px;
        background-color: $color-white;
        color: $color-red;
        border: 1px solid $color-red;
        overflow: hidden;
        border-radius: 5px;
        font-weight: 900;
        cursor: pointer;

        &:hover{
            border: 2px solid $color-red;
        }

        &:active{
            border: none;
            background-color: $color-red;
            color: $color-white;
        }
    }
}

.cart{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;

    h1{
        text-align: center;
        margin: 50px auto;
        color: $color-mustard;
        text-decoration: underline;
        font-size: 32px;
    }

    .resumen{
        display: flex;
        flex-flow: row nowrap;
        margin: 50px 20vw;
        padding: 0 1vw;
        height: 100px;
        width: 80vw;
        align-items: center;
        justify-content: end;
        h2{
            font-size: 24px;
            color: $color-mustard;
            margin: 0 5vw;
        }

        .clearCart{
            background-color: $color-white;
            color: $color-red;
            border: 1px solid $color-red;
            overflow: hidden;
            border-radius: 5px;
            font-weight: 600;
            cursor: pointer;
            padding: 10px 20px;
            font-size: 18px;

            &:hover{
                border: 2px solid $color-red;
            }

            &:active{
                border: none;
                background-color: $color-red;
                color: $color-white;
            }
        }
    }
}

.cartEmpty{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    margin: 30vh 0;

    h1{
        text-align: center;
        margin: 50px auto;
        color: $color-mustard;
        font-size: 32px;
    }

    a{
        background-color: $color-white-smooth;
        color: $color-mustard;
        border: 1px solid $color-mustard-ligth;
        text-decoration: none;
        overflow: hidden;
        border-radius: 5px;
        font-weight: 900;
        font-size: 20px;
        padding: 5px 15px;
        cursor: pointer;

        &:active{
            background-color: $color-mustard;
            color: $color-white-smooth;
        }
    }
}

@keyframes fadeIn {
	from {
		filter: opacity(0);
	}
	to{
		filter: opacity(1);
	}
}